/* Container for table and canvas */
.center-container {
    width: 608px; /* set width of container */
    margin: 0 auto; /* center container */
    margin-top: 50px; /* space down from top */
}

table {
    border-collapse: collapse; /* collapse table borders into 1 border */
    border-style: hidden; /* hides border on table */
}

td {
    cursor: pointer; /* change the cursor when hover over td elementos */
    border: 4px solid rgba(252, 169, 3, 0.8); /* set border style */
    padding: 0px; /* remove default padding */
    width: 200px;
    height: 200px;
    border-color: darkgrey;
}

canvas {
    position: absolute; /* set canvas position to the top left corner */
    z-index: 10; /* place the canvas over the top of table */
    pointer-events: none; /* makes canvas invisible */
}

h1 {
    text-align: center;
}